<div class = agent-show-main-container>

  <h1 class ='agent-profile-name'>
  <%= current_agent.agentname %>
  </h1>
  
  <div class="container">
    <ul class="tab-list">
      <li class="tab box-active">基本情報</li>
      <li class="tab">船宿ブログ</li>
      <li class="tab">釣果情報</li>
    </ul>
<!--船宿さんの基本情報-->
    <div class="tabbox-contents">
      <div class="tabbox box-show">
        <div class = 'agent-profile'>
          <div class="agent-box">
            <%= @agent.agentname_kana %>
            <h2 class="name">
              <%= @agent.agentname %>
            </h2>
          <div class="agent-img-content">
            <img src=<%= @agent.image %> class = "icon_image">
          </div>
          <span class="agent-postage">
            <%= @agent.prefecture_id %>
          </span>
        </div>
      </div>
      <div class="tabbox">
        <p>タブ2の中身が入ります。</p>
        <p>タブ2の中身が入ります。</p>
        <p>タブ2の中身が入ります。</p>
      </div>
      <div class="tabbox">
        <p>タブ3の中身が入ります。</p>
        <p>タブ3の中身が入ります。</p>
        <p>タブ3の中身が入ります。</p>
      </div>
    </div>
  </div>