<!DOCTYPE html>
<html>
  <head>
    <title>AnyFishApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <div class = 'header-base'>
        <!-- ロゴとタイトル -->
        <div class = 'header-logo'>
        <%= link_to image_tag('header-logo.png' , class: 'logo-image'), "/" %>
          <%= image_tag 'header-title.png', class: 'title-image'%>
        </div>
        <!-- //ロゴとタイトル -->
        <!-- メニューボタン -->
        <div class = 'header-button'>
          <div class = 'guide-button'>
            <a href="#">初心者ガイド</a>
          </div>
          <div class = 'result-button'>
            <a href="#">釣果一覧</a>
          </div>
          <div class = 'result-button'>
            <a href="#">船宿一覧</a>
          </div>
          <div class = 'ranking-button'>
            <a href="#">ランキング</a>
          </div>
        </div>
        <!-- //メニューボタン -->
        <!-- 検索窓 -->
        <div class = 'header-search'>
          <%= form_with(url:'#', local: true, method: :get, class: "header-search") do |form| %>
            <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
            <%#<%= form.submit "検索", class: "search-logo" %>
            <button type = 'submit'><%= image_tag 'search-image.png', class: 'search-logo'%></button>
          <% end %>
          
        </div>
        <!-- //検索窓 -->
        <!-- ユーザー管理 -->
        <!-- ログインで表示を変える -->
        <div class = 'header-user'>
          <div class = 'login'>
            <a href="#">Log in</a>
          </div>
          <div class = 'sign-up'>
            <a href="#">Sing up</a>
          </div>
          <div class = 'username'>
            <a href="#">こんにちはAさん</a>
          </div>
          <div class = 'tweet-button'>
            <a href="#">釣果を投稿する</a>
          </div>
        </div>
        <!-- //ログインで表示を変える// -->
      </div>
    </header>

    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
